/*
colors

Background: #F2F1E8
Text: #131511
Inline Link: #968772
Inline Link (Hover): #967343
Navigation Background: #FFFFFF
Navigation Text: #2B2F26
Navigation Text (Hover): #CD5D67
Navigation Text (Active) #968772
Button Background: #968772
Button Background (Hover): #967343
Button Text: #F2F1E8
Button Text (Hover): #FFFFFF
Input Border Bottom: #968772
Input Border Bottom (Focus): #967343

font-family: 'Merriweather', serif;
font-family: 'Roboto', sans-serif;
*/

/*affect all pages - start -------*/
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  /*background-color: */
}
/*body, html {
    height: 100%;*/
/*Part of parallaxing-- May fix footer issue*/


.whole-page  {
  font-family: 'Roboto', sans-serif;
  /*background-color: #F2F1E8;*/
  width: 1280px;
  /*height: 1200px;*/
  /*max-width: 1280;*/
}


/*Thought I needed this for parallaxing*/
/*#about-body {
  background-image: url("./images/background-3.jpg");
  z-index: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}*/

/*nav-bar start-----------*/

/*Header*/
#site-header {
  margin: 0;
  height: 75px;
  /*font-family: 'Roboto', sans-serif;*/
  color: #2B2F26;
  font-weight: 400;
  background-color: #FFFFFF;
  box-shadow: 0 0 4px 0 rgba( 0, 0, 0, 0.3 );
  width: 1280px;
  position:fixed; /*for z-index*/
  z-index:10;
  /*background:inherit;*/
}

/*Logo is in header, not header ul.*/

header ul{
  /*border: 2px solid red;*/ /*Pesticide dev tool*/
  padding: 0px;
  margin: 0px;
  height: inherit;
  max-width: 1280; /*Invalid property - Chrome dev tools*/
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /*text-decoration: none;*/
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  /*flex-basis: 40%; Goes on li.*/
}

header img {
  /*border: 2px solid red;*/ /*Pesticide dev tool*/
  /*width: 100%;*/
  position: absolute;
  height: 45px;   /*scales down the image*/
  justify-content: flex-start;
  align-items: center;
  margin: 15px;
}
header li {
  width: 50px;
  font-family: 'Roboto', sans-serif;
  /*color: #2B2F26;*/
  display: block;
  /*justify-content: center;*/
  flex-basis: 12%;
  /*align-content: center; */
  padding: 5px;
  /*text-decoration: none;*/
  text-align: center;
}

header a {
  /*text-decoration: underline;*/
  color: #2B2F26;
  font-size: 20px;
}

header a:active {
  color: #968772;
}

header a:hover {
  color: #CD5D67;
}

a, a:hover {
  -webkit-transition: color .4s linear;
  -moz-transition: color .4s linear;
  -o-transition: color .4s linear;
  -ms-transition: color .4s linear;
  transition: color .4s linear;
}

/*end nav-bar-----------*/
/*end affect all pages-------*/

/*index.html start-----------*/
/*main content----------*/


#site-main {
  font-family: 'Merriweather', serif;
  background-color: #F2F1E8;
  /*display: flex;*/
  /*flex-direction: column;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  /*margin: 0;*/
  /*padding: 0;*/
  width:1280px;
  padding-top:92px;
  z-index:5;
  overflow:auto;
}



#site-main h1 {
  /*border: 2px solid red;*/ /*Pesticide dev tool*/
  font-size: 70px;
  font-weight: 400;
  text-align: center;
  /*text-overflow: clip;*/
  margin: 40px 0 10px;
  padding: 0;
}



#site-main h2  {
  /*border: 2px solid red;*/ /*Pesticide dev tool*/
  font-size: 40px;
  font-weight: 100;
  text-align: center;
  margin: 10px 0 40px;
  padding: 0;
}

#home-body #row1 {
  /*border: 2px solid green;*/ /*Pesticide dev tool*/
  display: flex;
  /*flex-wrap: wrap;*/
  /*align-content: space-around;*/
  justify-content: center;
  flex-direction: row;
  width: 100%;
  /*height: 400px;*/
  /*max-width: 100%;*/
  padding: 0px;
  margin: 0 10px;
  /*display: block;*/
  flex-wrap: wrap;
}

#home-body #row2 {
  /*border: 2px solid green;*/ /*Pesticide dev tool*/
  display: flex;
  flex-wrap: nowrap;
  /*align-content: space-around;*/
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
  /*height: 300px;*/
  padding: 0px;
  margin: 0;
}

.pictures li {
  min-width: 200px;
  padding: 0;
  margin: 10px;
  display: block;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  /*max-width: 60%;*/
  /*overflow: hidden;*/
  /*trying to wrap pics after shrinking to min-width: */
  /*justify-content: flex-end;*/
  /*flex-direction: column;*/
}

/*"neither of these target properly"*/

#row1 li {
  height: 350px;
}

 #row2 li {
  height: 250px;
}


.pictures a {
  color: #F2F1E8;
  padding: 10px 14px 4px;
  margin: 0 0 18px;
  background-color: #2B2F26;
  text-align: justify;
  height: 30px;
}

/*These need to go on each image with different values*/
.crop {
    width: 200px;
    height: 150px;
    overflow: hidden;
}

.crop img {
    width: 400px;
    height: 300px;
    margin: -75px 0 0 -100px;
}

/*replace with flex: grow, shrink, basis*/
#pic1 {
  flex-grow: 5;
  background-image: url("./images/product-1.jpg")
}

#pic2 {
  flex-grow: 1;
  background-image: url("./images/product-2.jpg")
}

#pic3 {
  flex-grow: 1;
  background-image: url("./images/product-3.jpg")
}

#pic4 {
  flex-grow: 1;
  background-image: url("./images/product-4.jpg")
}

#pic5 {
  flex-grow: 1;
  background-image: url("./images/product-5.jpg")
}

#pic6 {
  flex-grow: 4;
  background-image: url("./images/product-6.jpg")
}

#pic7 {
  flex-grow: 1;
  background-image: url("./images/product-7.jpg")
}

/*End main content-------*/
/*End index.html--------------*/

/*Common to all pages----*/

/*Site footer appears to the right of the header/body of about.html instead of underneath.*/
#site-footer {
  color: #F2F1E8;
  width: inherit;
  height: 40px;
  background-color: #2B2F26;
  padding: 40px 0;
  /*vertical-align: middle;*/
  /*z-index:5;  These don't get used */
  /*overflow:auto;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
}

span {
  margin: 30px;
  padding: 50px;
  font-size: 20px;
  font-family: 'Merriweather', serif;
}
/*Common end-------------*/

/*Start of about.html----------*/
/*Start about-main---*/

#about-main {
  font-family: 'Merriweather', serif;
  background-color: #F2F1E8;
  width: 1280px;
   /*Switching this to px makes the footer move to the right*/
  padding-top:92px;
  z-index:5;
  overflow:auto;
}

#about-main h1 {
  font-size: 70px;
  font-weight: 400;
  text-align: center;
  margin: 40px;
  padding: 0;
}

.below-window {
  display: flex;
  flex-direction: column;
  /*justify-content: flex-end;*/
  /*align-items: flex-start;*/

}

col {
  align-self: flex-end;
  /*float: right;*/
  /*trying to make picture and caption appear in a column on the right*/
}

#shelf-space {
  width: 200px;
  height: 150px;
  background-image: url("./images/background-1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#birdhouse {
  height: 150px;
  width: 200px;
  float: left;
  margin: 0 20px 20px 0;
}

blockquote {
  border-left: 2px solid tan;
  height: auto;

}

p {
  font-size: 25px;

}

#window {
    /* The image used */
    background-image: url("./images/background-3.jpg");

    /* Full height */
    height: 200px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  /*height: 200px;*/
  width: inherit;
  /*background-color: transparent; what I thought for parallaxing*/
}

table, tr, td {
  border: 1px solid #046c97;
  border-collapse: collapse;
  padding: 10px;
}
}
