/*
colors

Background: #F2F1E8
Text: #131511
Inline Link: #968772
Inline Link (Hover): #967343
Navigation Background: #FFFFFF
Navigation Text: #2B2F26
Navigation Text (Hover): #CD5D67
Navigation Text (Active) #968772
Button Background: #968772
Button Background (Hover): #967343
Button Text: #F2F1E8
Button Text (Hover): #FFFFFF
Input Border Bottom: #968772
Input Border Bottom (Focus): #967343

font-family: 'Merriweather', serif;
font-family: 'Roboto', sans-serif;
*/

/*affect all pages - start -------*/
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  color: #131511;
  /*background-color: */
}
/*body, html {
    height: 100%;*/
/*Part of parallaxing-- May fix footer issue*/


.whole-page  {
  font-family: 'Roboto', sans-serif;
  background-color: #F2F1E8;
  width: 1280px;
  /*height: 1200px;*/
  /*max-width: 1280;*/
}


/*Thought I needed this for parallaxing*/
/*#about-body {
  background-image: url("./images/background-3.jpg");
  z-index: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}*/

/*nav-bar start-----------*/

/*Header*/
#site-header {
  margin: 0;
  height: 75px;
  /*font-family: 'Roboto', sans-serif;*/
  color: #2B2F26;
  font-weight: 400;
  background-color: #FFFFFF;
  box-shadow: 0 0 4px 0 rgba( 0, 0, 0, 0.3 );
  width: 1280px;
  position:fixed; /*for z-index*/
  z-index:10;
  /*background:inherit;*/
}

/*Logo is in header, not header ul.*/

header ul{
  /*border: 2px solid red;*/ /*Pesticide dev tool*/
  padding: 0px;
  margin: 0px;
  height: inherit;
  max-width: 1280; /*Invalid property - Chrome dev tools*/
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /*text-decoration: none;*/
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  /*flex-basis: 40%; Goes on li.*/
}

header img {
  /*border: 2px solid red;*/ /*Pesticide dev tool*/
  /*width: 100%;*/
  position: absolute;
  height: 45px;   /*scales down the image*/
  justify-content: flex-start;
  align-items: center;
  margin: 15px;
}
header li {
  width: 50px;
  font-family: 'Roboto', sans-serif;
  /*color: #2B2F26;*/
  display: block;
  /*justify-content: center;*/
  flex-basis: 12%;
  /*align-content: center; */
  padding: 5px;
  /*text-decoration: none;*/
  text-align: center;
}

header a {
  /*text-decoration: underline;*/
  color: #2B2F26;
  font-size: 20px;
}

header li.selected a {
  color: #968772;
}

header a:hover {
  color: #CD5D67;
}

a, a:hover {
  /*color: #CD5D67;*/ /*doesn't work here*/
  -webkit-transition: color .4s linear;
  -moz-transition: color .4s linear;
  -o-transition: color .4s linear;
  -ms-transition: color .4s linear;
  transition: color .4s linear;
}

/*end nav-bar-----------*/
/*end affect all pages-------*/

/*index.html start-----------*/
/*main content----------*/

#site-main {
  font-family: 'Merriweather', serif;
  background-color: #F2F1E8;
  /*display: flex;*/
  /*flex-direction: column;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  /*margin: 0;*/
  /*padding: 0;*/
  width:1280px;
  padding-top:92px;
  z-index:5;
  overflow:auto;
}



#site-main h1 {
  /*border: 2px solid red;*/ /*Pesticide dev tool*/
  font-size: 70px;
  font-weight: 400;
  text-align: center;
  /*text-overflow: clip;*/
  margin: 40px 0 10px;
  padding: 0;
}



#site-main h2  {
  /*border: 2px solid red;*/ /*Pesticide dev tool*/
  font-size: 40px;
  font-weight: 100;
  text-align: center;
  margin: 10px 0 40px;
  padding: 0;
}

#home-body #row1 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  padding: 0px;
  margin: 0 ;
  flex-wrap: wrap;
  /*border: 2px solid green;*/ /*Pesticide dev tool*/
  /*flex-wrap: wrap;*/
  /*align-content: space-around;*/
  /*height: 400px;*/
  /*max-width: 100%;*/
  /*display: block;*/
}

#home-body #row2 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  padding: 0;
  margin: 0;
  /*border: 2px solid green;*/ /*Pesticide dev tool*/
  /*align-content: space-around;*/
  /*height: 300px;*/
}

.pictures li {
  min-width: 200px;
  padding: 0;
  margin: 10px;
  display: block;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  /*max-width: 60%;*/
  /*overflow: hidden;*/
  /*trying to wrap pics after shrinking to min-width: */
  /*justify-content: flex-end;*/
  /*flex-direction: column;*/
}

/*"neither of these target properly"*/

#row1 li {
  height: 350px;
}

 #row2 li {
  height: 250px;
}

.pictures a {
  color: #F2F1E8;
  padding: 10px 14px 4px;
  margin: 0 0 18px;
  background-color: #2B2F26;
  text-align: justify;
  height: 30px;
}

/*These need to go on each image with different values*/
.crop {
    width: 200px;
    height: 150px;
    overflow: hidden;
}

.crop img {
    width: 400px;
    height: 300px;
    margin: -75px 0 0 -100px;
}

/*replace with flex: grow, shrink, basis*/
#pic1 {
  margin-left: 15px;
  /*flex-grow: 5;*/
  width: 57%;
  background-position: top;
  background-image: url("./images/product-1.jpg")
}

#pic2 {
  /*flex-grow: 1;*/
  width: 18%;
  background-position: top;
  background-image: url("./images/product-2.jpg")
}

#pic3 {
  margin-right: 15px;
  /*flex-grow: 1;*/
  width: 18%;
  background-image: url("./images/product-3.jpg")
}

#pic4 {
  margin-left: 15px;
  margin-bottom: 25px;
  background-position: left;
  /*flex-grow: 1;*/
  width: 18%;
  background-image: url("./images/product-4.jpg")
}

#pic5 {
  margin-bottom: 25px;
  /*flex-grow: 1;*/
  width: 18%;
  background-position: left;
  background-image: url("./images/product-5.jpg")
}

#pic6 {
  margin-bottom: 25px;
  /*flex-grow: 4;*/
  width: 38%;
  background-position: top;
  background-image: url("./images/product-6.jpg")
}

#pic7 {
  margin-bottom: 25px;
  margin-right: 25px;
  /*flex-grow: 1;*/
  width: 18%;
  background-position: left;
  background-image: url("./images/product-7.jpg")
}

/*End main content-------*/
/*End index.html--------------*/

/*Common to all pages----*/

/*Site footer appears to the right of the header/body of about.html instead of underneath.*/
#site-footer {
  color: #F2F1E8;
  width: inherit;
  height: 40px;
  background-color: #2B2F26;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*vertical-align: middle;*/
  /*z-index:5;  These don't get used */
  /*overflow:auto;*/
}

span {
  margin: 30px;
  /*padding: 50px;*/
  font-size: 21px;
  font-family: 'Merriweather', serif;
}
/*Common end-------------*/

/*Start of about.html----------*/
/*Start about-main---*/

.about-main {
  font-family: 'Merriweather', serif;
  background-color: #F2F1E8;
  width: 100%;
  padding-top:92px;
  /*padding-left: 80px;*/
  /*padding-right: 80px;*/
  z-index:5;
  overflow:auto;
}

#above-window, #below-window {
  padding-left: 170px;
  padding-right: 170px;
}

.about-main h1 {
  font-size: 70px;
  font-weight: 400;
  text-align: center;
  margin: 40px;
  padding: 0;
}

p a {
  color: #968772;
}

#birdhouse {
  /*background-image: url("./images/birdhouse.jpg");*/
  /*position: fixed; */
  /*clip: rect(100px, 100px, 0, 0);*/
  /*object-fit: cover;*/
  height: 150px;
  width: 200px;
  float: left;
  margin: 0 20px 20px 0;
}

blockquote {
  border-left: 3px solid #968772;
  height: 50px;
  width: 850px;
  font-size: 21px;
  font-style: italic;
  margin: 0;
  padding: 15px 30px;
}

p {
  font-size: 20px;
  line-height: 2;

}

#window {
  background-image: url("./images/background-3.jpg");
  height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: inherit;
  /*padding-left: -80px;*/
  /*padding-right: -80px;*/
}

#window h3 {
  color: #FFFFFF;
  text-align: center;
  line-height: 300px;
  font-size: 65px;
  font-family: 'Merriweather', serif;
  font-weight: 300;
}

.about-main h2 {
  padding: 0;
  margin: 30px 0 10px;
  font-size: 30px;
  font-weight: 300;
  font-style: normal;
}

.below-header {
  display: flex;
  flex-direction: row;
  /*justify-content: flex-end;*/
  /*align-items: flex-start;*/

}

div #facilities-table {
  justify-content:  flex-start;
  margin: 0;
}

#facilities-table p {
  margin: 0;
}

.below-header #col {
  width: 200px;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  /*float: right;*/
  /*trying to make picture and caption appear in a column on the right*/
}

#shelf-space {
  width: 170px;
  height: 140px;
  /*background-image: url("./images/background-1.jpg");*/
  background-size: auto;
  background-position: left;
  background-repeat: no-repeat;
  overflow: hidden;
}

div #caption {
  margin: 20px 0;
  width: 200px;
  font-size: 15px;
  line-height: 1.8;
}

table {
  width: 740px;
  height: 250px;
  margin-bottom: 40px;
}
table, th, tr, td {
  border: 1px solid #2B2F26;
  border-collapse: collapse;
  padding: 10px;
  font-size: 20px;
}

table tr:first-child {
  text-align: center;
}

table tr:nth-child(2n) {
  background-color: #F1EADD;
}

/*Start Newsletter------------- */

body #newsletter-main {
  display: flex;
  /*flex-direction: column;*/
  justify-content: center;
  align-items: center;
  width: inherit;
  height: 800px;
  padding-top:92px;
  background-image: url("./images/background-2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  overflow: scroll;
  /*background-attachment: fixed;*/
  /*width:1280px;*/
  /*align-content: center;*/
  /*background-color: #F2F1E8;*/
}

.signup-module {
  /*object-position: center;*/
  position: fixed;
  top: 25%;
  z-index: 10;
  width: 520px;
  height: 300px;
  padding: 30px;
  background-color: #FFFFFF;
  font-family: 'Merriweather', serif;
  color: #2B2F26;
  text-align: center;
}

.signup-module h3 {
  font-size: 27px;
  font-style: normal;
  font-weight: lighter;
  margin: 10px 0;
}
.signup-module h4 {
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  margin: 20px 0 35px;
}

div .text-input-boxes {
  width: inherit;
  border-color: #FFFFFF;
  border-bottom: 2px solid #968772;
  color: #757575;
  margin: 10px 0;
  text-align: left;
}

.text-input-boxes input {
  border-style: none;
  width: 400px;
  height: 20px;
  font-size: 14px;
  color: #131511;
}

.text-input-boxes input:focus {
  outline: none;
}

.signup-module #signupButton {
  background-color: #968772;
  color: #F2F1E8;
  border-style: none;
  outline: none;
  height: 55px;
  width: 120px;
  margin: 20px;
  font-size: 18px;
}

#signupButton:hover {
  color: #FFFFFF;
  background-color: #967343;
}
